<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Landscape page
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div class="next-button">
        <div class="nextprevious-btn">
            <ion-button class="button button-round btn-new-damage"><span>Next</span>
            </ion-button>
            <ion-button class="button button-round btn-existing-damage" (click)='back()'>Previous</ion-button>
        </div>
    </div>
</ion-content>